#texto-descripcion {
    margin-top:430px;
    color: azure;
    font-size: 15px;
    font-family: Consolas, monaco, monospace;
    height: 900px;
    width: 1600px;
    margin-left: 370px;
    
}

    #computer {
      margin-top: -30%;
      margin-bottom: -20%;
      margin-left: -37%;
      margin-right: -20%;
      background-image: url('CompuPng.png');
      color: azure;
      background-size: cover;
      background-repeat: no-repeat;
      position: relative;
      display: flex;           /* Centra verticalmente el contenido flex */
    }
#MyBackgroud {
    margin-top:5%;
    margin-bottom:5%;
    padding: 10%;
    background-image: url('https://wallpapersmug.com/download/3840x2160/17fd71/geometry-triangles-abstract.jpg'); 
    background-size:cover;
    display:block;
    
}   
