#texto-descripcion {
    margin-top:25%;
    margin-bottom:25%;
    color: azure;
    font-size: 12px;
    font-family: Consolas, monaco, monospace;
    margin-left:22%;
    height: 900 vw;
    widht: 1600 vw;   
}

    #computer {
      margin-top: -30%;
      margin-bottom: -20%;
      margin-left: -37%;
      margin-right: -37%;
      background-image: url('CompuPng.png');
      color: azure;
      background-size: cover;
      background-repeat: no-repeat;
      position: relative;
      display: flex;
      filter : drop-shadow(8px 8px 4px #FAEA10);
      
    }

#MyBackgroud {
    margin-top:5%;
    margin-bottom:5%;
    padding: 10%;
    background-image: url('https://wallpapersmug.com/download/3840x2160/17fd71/geometry-triangles-abstract.jpg'); 
    background-size:cover;
    display:block;
    
}   
